In [74]:
import pandas as pd

df = pd.read_excel('Tasks.xlsx', header=1)

df

,Name,Type,Ownership,Importance,Start_Date,End_Date,State
0,Statistics,Assignment,Me,4,2018-09-04,2018-09-11,Completed
1,DMU,Assignment,Me,2,2018-09-02,2018-09-11,Completed
2,Database,Assignment,Me,3,2018-09-06,2018-09-13,Active
3,Database,Assignment,Me,5,2018-09-06,2018-09-12,Active
4,Mathematics,Assignment,Me,5,2018-09-06,2018-09-12,Suspended

In [77]:
# convert to date format
# df['End_Date'] =pd.to_datetime(df.End_Date)

# sort by End date in ascending order
# sort by Importance in ascending order
df.sort_values(['End_Date', 'Importance'], ascending=[True, False])

# Create the dictionary that defines the order for sorting
sorter_Status = ['Active', 'Suspended', 'Completed']
sorterIndex_Status = dict(zip(sorter_Status, range(len(sorter_Status))))

# Generate a rank column that will be used to sort
# the dataframe numerically
df['State_Rank'] = df['State'].map(sorterIndex_Status)
df.sort_values(['State_Rank', 'End_Date', 'Importance'], ascending=[True, True, False], inplace = True)
df.drop('State_Rank', 1, inplace = True)

# Calculate % change in End Date
# Assign a total importance score for each transaction and sort it by that in descending order of importantce
# Capture each users feedback, if he thinks task 2 is more important than task 1 as given by the program
# Create Signup and unique identifier for each user to capture feedback

df

,Name,Type,Ownership,Importance,Start_Date,End_Date,State
3,Database,Assignment,Me,5,2018-09-06,2018-09-12,Active
2,Database,Assignment,Me,3,2018-09-06,2018-09-13,Active
4,Mathematics,Assignment,Me,5,2018-09-06,2018-09-12,Suspended
0,Statistics,Assignment,Me,4,2018-09-04,2018-09-11,Completed
1,DMU,Assignment,Me,2,2018-09-02,2018-09-11,Completed